@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.container {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter {
  color: #fff;
  font-size: 4rem;
  font-family: 'IBM Plex Mono', monospace;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2s steps(30, end) forwards;
}

a{
 color: #fff;
 font-family: 'IBM Plex Mono', monospace;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
