@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Kaisei+Decol&family=Marck+Script&display=swap');


body {
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: 16px;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #57b3ff;
    text-decoration: none;
    font-size: larger;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

a:hover {
    color: rgb(122, 255, 246);
    font-size: 1.2em;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #794f4f;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    align-items: center;
    display: flex;
}

.logo img {
    margin-right: 10px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav a:hover {
    border-bottom: 2px solid #333;
}

.banner {
    background-color: #4d4929;
    color: #d6d6d6;
    padding: 80px;
    text-align: left;
}

.banner h2 {
    margin-top: 0;
    font-weight: bolder;
    font-size: 60px;
    font-family: 'Marck Script', cursive;
    text-align: left;
}

.banner p {
    color: #d6d6d6;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.banner .button {
    background-color: #574b4b;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.banner .button:hover {
    background-color: #eee;
}

.services {
    background-color: #1a1a1a;
    padding: 80px;
}

.services h2 {
    color: #a877f8;
}

.services h3 {
    margin-top: 0;
    color: #d6bffc;
}

.services .service {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.service p {
    color: #D4DCFA;
}

.services .service img {
    margin-bottom: 20px;
}

.services .service h4 {
    margin-top: 0;
}

.testimonials {
    padding: 80px;
    text-align: center;
}

.testimonials h3 {
    margin-top: 0;
}

.testimonials .testimonial {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    padding: 40px;
    position: relative;
}

.testimonials .testimonial:before {
    content: "";
    border: 15px solid transparent;
    border-bottom-color: #333;
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: -30px;
    width: 0;
}

.testimonials .testimonial img {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
}

.testimonials .testimonial p {
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Kaisei Decol', serif;
    color: #d0e3ff;
}

.testimonials .testimonial h4 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }
}

.a {
    color: rgb(151, 226, 231);
}

.a:hover {
    color: rgb(122, 255, 246);
    font-size: 1.2em;
    font-weight: bold;
}

body {
    background-image: url('Space.jpg');
}