.body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #383737;
  white-space:nowrap;
  max-width: 770px; 
  color:#C6C3C9;
}

.container {
  background-color: #383737;
  border: 1px solid #383737;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 950px;
  padding: 20px;
}

.header {
  background-color: #383737;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.h1 {
  margin: 0;
  font-size: 36px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

.section {
  margin-bottom: 50px;
}

.h2 {
  margin-top: 0;
  font-size: 24px;
}

.link-block {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #383737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.link-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.link-block:hover img {
  transform: scale(1.1);
}

.link-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  transition: transform 0.5s ease;
}



.footer {
  background-color: #212121;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
