.container {
    background-color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 850px;
    padding: 20px;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
}

ol {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

li {
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

/* リンクのスタイル */
a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
