body {
    /* 使用多个颜色点来创建复杂的渐变效果 */
    background: linear-gradient(135deg, #d29fe0, #e4c6f0, #f7e9ff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'ZCOOL XiaoWei', serif;
}

.redirect-container {
    color: white;
    text-align: center;
    animation: fadeIn 3s ease-in-out;
}

h1, p {
    color: white; /* 确保主要文本颜色为白色 */
}

p a {
    color: #ffcc00; /* 链接颜色设置为亮黄色，使其更醒目 */
    text-decoration: none; /* 去掉下划线 */
    font-weight: bold; /* 加粗链接文本 */
}

p a:hover {
    color: #ff9900; /* 鼠标悬停时链接颜色变为橙色 */
    text-decoration: underline; /* 悬停时显示下划线 */
}

.credit a {
    color: #ffffff; /* 设置链接颜色为白色 */
    text-decoration: none; /* 去掉下划线 */
    font-weight: bold; /* 加粗链接文本 */
}

.credit a:hover {
    color: #ffcc00; /* 鼠标悬停时链接颜色变为亮黄色 */
    text-decoration: underline; /* 悬停时显示下划线 */
}

.progress-container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: white;
    border-radius: 25px;
    transition: width 5s linear; /* 保持过渡效果为5秒 */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}