@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=M+PLUS+1:wght@200;300&display=swap');

body {
    margin: 0;
    font-family: 'M PLUS 1', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 30px;
}

p {
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
}

#img1 {
    cursor: pointer;
}

iframe {
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 20px;
    background-color: #e66557;
    color: #f4f4f4;
}

footer a {
    text-decoration: none;
}

footer p {
    margin-top: 10px;
    color: #f4f4f4;
    text-align: left;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}
